/* slider Global
Accreditations */

.wrapper1 {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* height: 95vh; */
}

.slider2 {
  height: 110px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider2 .slide-track1 {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider2 .slide {
  height: 100px;
  width: 250px;
}

.slider2 .slide img {
  width: 80%;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #bbbbbb;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* right */

/* slider Global
Accreditations */

/* media query of home page  start */

@media screen and (max-width: 768px) {
  /* get touch in form  home page*/
  #fixissue {
    margin-left: -24px;
  }
  #firstform {
    margin-top: 20px;
    padding-bottom: 25px;
  }

  .logofirstname {
    margin-top: 5px;
    font-size: 12px;
    /* margin-bottom: -15px; */
  }
  /* .final-announcement{
        margin-top: 10px;
    } */

  /*  /* get touch in form home page */

  /* mobile view youtube link  */
  #hero1 iframe {
    /* display: none; */
    width: 100%;
  }

  .certification-carousel .slick-arrow {
    margin-top: -21px;
  }
}

@media screen and (min-width: 769px) and (max-width: 2000px) {
  #firstform {
    width: 30%;
    margin-left: 20px;
  }
  .logofirstname {
    font-size: 12px;
    margin-bottom: -2px;
  }
}

/* button */
.flat-button1.bg-orange1 {
  margin-top: 10px;
  background: #ffffff;
  border-color: #ffffff;
  width: 100%;
}

.flat-button.bg-orange {
  margin-top: 10px;
  background: #ffffff;
  border-color: #ffffff;
  width: 40%;
}

.fa-solid,
.fab {
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
}

/* media query of home page  start */

/* new video slider */
.hero8 {
  margin-right: 15px; /* Adjust as needed */
}

.cus-card1 {
  height: 300px;
  background: #ffffff;
}

/* Optional: To remove the right margin from the last item */
.hero8:last-child {
  margin-right: 0;
}

/* new video slider */

.lernernewsupport a {
  color: #fff;
  text-decoration: none;
}
.lernernewsupport {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #000;
  position: relative;
  font-weight: 1000;
  font-size: 20px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 2000ms;
  color: orangered;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 30px 0;
}

.lernernewsupport::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background: #0f2f5e;
  color: black;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 2000ms;
}

.lernernewsupport .a:hover::after {
  color: #e8e8e8;
}

.lernernewsupport:hover::before {
  width: 100%;
}

/* 11 - december 2024 */

@media screen and (max-width: 768px) {
  .banner-mobile-image {
    display: block;
    width: 100%;
  }
  .banner-desktop-image {
    display: none;
  }
  #firstform2 {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* position: relative;
    right: 20px; */
    margin: 0 auto;
    margin-top: 20px;
    padding: 9px;
    border-radius: 10px;
    width: 85%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
  #firstform2 {
    border-radius: 15px;
    padding: 25px 25px 0px;
    position: absolute;
    width: 24%;

    top: 150px;
    right: 100px;
    background-color: #fff;
  }
  .banner-mobile-image {
    display: none;
  }
}

/* 11 - december 2024 */

/* last css class */

/* hero 16 */

/* .cc-list {
  border-radius: 24px;
  background: linear-gradient(270deg, #FFB81C -2.12%, #E92B2C 120.97%);
  padding: 2rem 2rem;
  margin-top: -2rem;
} */
