.newslider5{
    background:#fff;
    text-align:center;
    width: 100%;
  }
  .newslider5  {
    overflow:hidden;
    width: 100%;
  }
  .firstnewslider span{
    float:left;
    width:50%;
  }
  .newslider5 .addnewslider{
    --total-secondnewsliders:7;
    height: 150px;
    width: calc(250px * (var(--total-secondnewsliders)));
    /* width: 100%; */
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    /* margin: 20px auto; */
    background:#fff;
    /* padding: 30px 0; */
  }
  .firstnewslider{
    display: block;
    width: 200%;
    position: absolute;
  }
  .firstnewslider img{
    width: 100%;
    height: 90px;
    border-radius: 10px;
    border: 2px solid #bbbbbb;
  }
  .firstnewslider.to-left{
    animation: marqueeLeft 25s linear infinite;
  }
  .firstnewslider.to-right{
    animation: marqueeRight 25s linear infinite;
  }
  .secondnewslider{
    width: 230px;
    height: auto;
    display: inline-block;
    margin: 0 10px;
    float: left;
    transition: all .2s ease-out;
    background:#fff;
    border-radius: 15px;
  }
  @keyframes marqueeLeft{
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  @keyframes marqueeRight{
    0% { 
      left: -100%; 
    }
    100% {
     left: 0; 
    }
  }

  
  @media screen and (max-width:768) {
    .newslider5 .addnewslider{
       width: 100% !important;
    }
}

  


  /* slider end */


  .user img {
    background: #CACACA;
    padding-top: 2rem;
    border-radius: 16px;
    
  }
  
  .w-100 {
    width: 100% !important;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  img,
  svg {
    vertical-align: middle;
  }
  
  .our-benefits .bene-list li:nth-child(2n + 1) {
    margin-left: 0;
    border-radius: 10px;
  }
  
  .our-benefits .bene-list li:nth-child(2n + 2) {
    margin-right: 0;
    border-radius: 10px;
  }
  
  .bene-list li i {
    font-size: 20px;
  }
  
  .enquiry-bar .program-details li:first-child, .enquiry-bar .program-details li:last-child {
    border-left: 0px solid #fff;
    border-right: 1px solid #fff;
}
.enquiry-bar .program-details li:first-child, .enquiry-bar .program-details li:nth-child(3) {
  border-left: 1px solid #fff;
  
}


  /* university  */

  .enquiry-bar .program-details li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 0 20%;
    color: #fff;
    border-right: 1px solid #fff;
    right: 1px solid #fff !important;
}
  /* university  */

  .univercitycontent{
    height: 100px;
  }

  /* .program-details li i{
    font-size: 60px;
  } */

